.idea/*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/misc.xml
.idea/dictionaries

/boot/Firedrake.iso
/boot/initrd
/build

# Symlinks

/sys/libc
/sys/libcpp
/sys/libio
/slib/libkern/libc
/slib/libkern/libcpp
.DS_Store
